[submodule "platforms/pc/lib/imgui"]
	path = platforms/pc/lib/imgui
	url = https://github.com/veselin-sladkov/imgui.git
	branch = docking
[submodule "platforms/pc/lib/sokol"]
	path = platforms/pc/lib/sokol
	url = https://github.com/vsladkov/sokol.git
[submodule "platforms/rp2040/lib/pico-sdk"]
	path = platforms/rp2040/lib/pico-sdk
	url = https://github.com/vsladkov/pico-sdk.git
[submodule "platforms/rp2040/lib/PicoDVI"]
	path = platforms/rp2040/lib/PicoDVI
	url = https://github.com/vsladkov/PicoDVI.git
[submodule "platforms/rp2040/lib/tinyusb"]
	path = platforms/rp2040/lib/tinyusb
	url = https://github.com/vsladkov/tinyusb.git
