#include "neptune.h"
#include "moon_patrol.h"
#include "karateka.h"
#include "lode_runner.h"

uint8_t* apple2_nib_images[] = {
    neptune_nib_image,
    moon_patrol_nib_image,
    karateka_nib_image,
    lode_runner_nib_image,
};
